<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="mainContainer">
        <h1>테스트</h1>
        <span id="receiver" th:text="${id}"></span>
        <input type="text" id="msg" />
        <button id="sendButton" onclick="send()">버튼</button>
        <div id="testContainer" class="chatContainer"></div>
    </div>
</body>
<script src="/js/websocket.js"></script>
</html>