#mainContainer {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.chatContainer {
    width: 100%;
}

.messageContainer {
    display:grid;

    margin-top: 10px;

    div {
        width: 40%;
    }
    &.left {
        justify-content: start;
        span {
            &:nth-of-type(2) {
                background-color: white;
            }
            &:nth-of-type(3) {
                grid-row: 1 / span 2;
                grid-column: 2 / span 2;
            }
        }
    }
    &.right {
        justify-content: end;
         span {
            &:nth-of-type(2) {
                background-color: yellow;
            }
            &:nth-of-type(3) {
                grid-row: 1 / span 2;
                grid-column: -4 / span 2;
            }
        }
    }

    span {
        &:nth-of-type(2) {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }
        &:nth-of-type(3) {
            color: gray;
            font-size: 10px;
            align-self: end;
        }
    }

}

